= simple_form_for(@task) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :title
    = f.input :memo
    = f.input :aasm_state

  .form-actions
    = f.button :submit
