%p#notice= notice

%p
  %b User:
  = @task.user
%p
  %b Title:
  = @task.title
%p
  %b Memo:
  = @task.memo
%p
  %b Aasm state:
  = @task.aasm_state

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
